spring:
  application:
    name: zuul-server

server:
  port: 5001

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka

zuul:
  routes:
    auth-user:
      path: /auth-user/**
      serviceId: auth-user
    auth-server:
      path: /uaa/**
      serviceId: auth-service
    feign-user:
      path: /feign-user/**
      serviceId: feign-user
  prefix: /warehouse


security:
  oauth2:
    client:
      access-token-uri: http://localhost:9999/uaa/oauth/token #令牌端点
      user-authorization-uri: http://localhost:9999/uaa/oauth/authorize #授权端点
      client-id: client #OAuth2客户端ID
      client-secret: client #OAuth2客户端密钥
    resource:
      jwt:
        key-uri: http://localhost:9999/uaa/oauth/token_key