<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kone.commonsDao.dao.OrderProductMaterialMapper">
  <resultMap id="BaseResultMap" type="com.kone.utils.entity.OrderProductMaterial">
    <id column="order_product_material_id" jdbcType="BIGINT" property="orderProductMaterialId" />
    <result column="order_product_id" jdbcType="BIGINT" property="orderProductId" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_unit" jdbcType="VARCHAR" property="materialUnit" />
    <result column="material_unit_price" jdbcType="REAL" property="materialUnitPrice" />
    <result column="material_num" jdbcType="REAL" property="materialNum" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
  <sql id="Base_Column_List">
    order_product_material_id, order_product_id, material_name, material_unit, material_unit_price, 
    material_num, gmt_create, gmt_update, yn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_product_material
    where order_product_material_id = #{orderProductMaterialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_order_product_material
    where order_product_material_id = #{orderProductMaterialId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kone.utils.entity.OrderProductMaterial">
    insert into tb_order_product_material (order_product_material_id, order_product_id, 
      material_name, material_unit, material_unit_price, 
      material_num, gmt_create, gmt_update, 
      yn)
    values (#{orderProductMaterialId,jdbcType=BIGINT}, #{orderProductId,jdbcType=BIGINT}, 
      #{materialName,jdbcType=VARCHAR}, #{materialUnit,jdbcType=VARCHAR}, #{materialUnitPrice,jdbcType=REAL}, 
      #{materialNum,jdbcType=REAL}, now(), now(), 0)
  </insert>
  <insert id="insertSelective" parameterType="com.kone.utils.entity.OrderProductMaterial">
    insert into tb_order_product_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderProductMaterialId != null">
        order_product_material_id,
      </if>
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialUnit != null">
        material_unit,
      </if>
      <if test="materialUnitPrice != null">
        material_unit_price,
      </if>
      <if test="materialNum != null">
        material_num,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="yn != null">
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderProductMaterialId != null">
        #{orderProductMaterialId,jdbcType=BIGINT},
      </if>
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=BIGINT},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUnit != null">
        #{materialUnit,jdbcType=VARCHAR},
      </if>
      <if test="materialUnitPrice != null">
        #{materialUnitPrice,jdbcType=REAL},
      </if>
      <if test="materialNum != null">
        #{materialNum,jdbcType=REAL},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kone.utils.entity.OrderProductMaterial">
    update tb_order_product_material
    <set>
      <if test="orderProductId != null">
        order_product_id = #{orderProductId,jdbcType=BIGINT},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUnit != null">
        material_unit = #{materialUnit,jdbcType=VARCHAR},
      </if>
      <if test="materialUnitPrice != null">
        material_unit_price = #{materialUnitPrice,jdbcType=REAL},
      </if>
      <if test="materialNum != null">
        material_num = #{materialNum,jdbcType=REAL},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=INTEGER},
      </if>
    </set>
    where order_product_material_id = #{orderProductMaterialId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kone.utils.entity.OrderProductMaterial">
    update tb_order_product_material
    set order_product_id = #{orderProductId,jdbcType=BIGINT},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_unit = #{materialUnit,jdbcType=VARCHAR},
      material_unit_price = #{materialUnitPrice,jdbcType=REAL},
      material_num = #{materialNum,jdbcType=REAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=INTEGER}
    where order_product_material_id = #{orderProductMaterialId,jdbcType=BIGINT}
  </update>

  <select id="selectByOrderProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_order_product_material
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </select>

</mapper>