<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kone.commonsDao.dao.OrderProductMapper">
  <resultMap id="BaseResultMap" type="com.kone.utils.entity.OrderProduct">
    <id column="order_product_id" jdbcType="BIGINT" property="orderProductId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_num" jdbcType="BIGINT" property="productNum" />
    <result column="delivery_date" jdbcType="VARCHAR" property="deliveryDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
  <sql id="Base_Column_List">
    order_product_id, order_id, product_id, product_num, delivery_date, gmt_create, gmt_update, 
    yn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_product
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_order_product
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kone.utils.entity.OrderProduct" useGeneratedKeys="true" keyProperty="orderProductId">
    insert into tb_order_product (order_product_id, order_id, product_id, 
      product_num, delivery_date, gmt_create, 
      gmt_update, yn)
    values (#{orderProductId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{productNum,jdbcType=BIGINT}, #{deliveryDate,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, now(), 0)
  </insert>
  <insert id="insertSelective" parameterType="com.kone.utils.entity.OrderProduct">
    insert into tb_order_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderProductId != null">
        order_product_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productNum != null">
        product_num,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="yn != null">
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderProductId != null">
        #{orderProductId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productNum != null">
        #{productNum,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kone.utils.entity.OrderProduct">
    update tb_order_product
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productNum != null">
        product_num = #{productNum,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        yn = #{yn,jdbcType=INTEGER},
      </if>
    </set>
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kone.utils.entity.OrderProduct">
    update tb_order_product
    set order_id = #{orderId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      product_num = #{productNum,jdbcType=BIGINT},
      delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      yn = #{yn,jdbcType=INTEGER}
    where order_product_id = #{orderProductId,jdbcType=BIGINT}
  </update>


  <resultMap id="BaseResultMap1" type="com.kone.utils.entity.OrderProduct">
    <id column="order_product_id" jdbcType="BIGINT" property="orderProductId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_num" jdbcType="BIGINT" property="productNum" />
    <result column="delivery_date" jdbcType="VARCHAR" property="deliveryDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="yn" jdbcType="INTEGER" property="yn" />

    <association property="product" column="product_id" select="com.kone.commonsDao.dao.ProductMapper.selectByPrimaryKey"></association>

    <collection property="orderProductMaterials" ofType="OrderProductMaterial" column="order_product_id" select="com.kone.commonsDao.dao.OrderProductMaterialMapper.selectByOrderProductId"/>
  </resultMap>

  <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from tb_order_product
    where order_id = #{orderId,jdbcType=BIGINT}
    AND yn = 0
  </select>

  <select id="selectByProductId2" parameterType="com.kone.utils.conditions.CommonCondition" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from tb_order_product
    where product_id = #{id,jdbcType=BIGINT}
    AND yn = 0
    <if test="startTime != 'null' and endTime != 'null' and startTime != null and startTime !='' and endTime != null and endTime != ''">
      AND DATE_FORMAT(gmt_create,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
    </if>
  </select>

  <select id="getOrderProductNumSum" parameterType="com.kone.utils.conditions.CommonCondition" resultType="java.lang.Float">
    SELECT SUM(product_num) FROM tb_order_product
    WHERE yn=0
    AND product_id = #{id}
    <if test="startTime != 'null' and endTime != 'null' and startTime != null and startTime !='' and endTime != null and endTime != ''">
      AND DATE_FORMAT(gmt_create,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
    </if>
  </select>

  <select id="selectByProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_order_product
    where product_id = #{productId,jdbcType=BIGINT}
    AND order_id = #{orderId, jdbcType=BIGINT}
    AND yn = 0
  </select>


  <resultMap id="ProductOutByDayResultMap" type="com.kone.utils.bo.ProductByDayBO">
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="productNumSum" jdbcType="REAL" property="productNumSum" />
  </resultMap>
  <sql id="Product_By_Day_Column_List">
    pm.product_id, SUM(pm.product_num) AS productNumSum, p.product_name
  </sql>

  <select id="viewProductOutByDay" parameterType="com.kone.utils.conditions.CommonCondition" resultMap="ProductOutByDayResultMap">
    SELECT
    <include refid="Product_By_Day_Column_List" />
    FROM tb_order_product AS pm
    LEFT JOIN tb_product AS p
    ON pm.product_id = p.product_id
    WHERE  pm.yn = 0
    <if test="startTime != null and startTime !='' and endTime != null and endTime != ''">
      AND DATE_FORMAT(pm.gmt_create,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
    </if>
    <if test="name != null and '' != name">
      AND p.product_name LIKE '${name}%'
    </if>
    GROUP BY pm.product_id
    limit #{pager.start},#{pager.size}
  </select>

  <select id="getProductOutByDaySum" parameterType="com.kone.utils.conditions.CommonCondition" resultType="java.lang.Long">
    SELECT COUNT(1) FROM
    (
    SELECT
    <include refid="Product_By_Day_Column_List" />
    FROM tb_order_product AS pm
    LEFT JOIN tb_product AS p
    ON pm.product_id = p.product_id
    WHERE  pm.yn = 0
    <if test="startTime != null and startTime !='' and endTime != null and endTime != ''">
      AND DATE_FORMAT(pm.gmt_create,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
    </if>
    <if test="name != null and '' != name">
      AND p.product_name LIKE '${name}%'
    </if>
    GROUP BY pm.product_id
    )
    AS c
  </select>

</mapper>