<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kone.commonsDao.dao.ProductSeriesMapper">
  <resultMap id="BaseResultMap" type="com.kone.utils.entity.ProductSeries">
    <id column="product_series_id" jdbcType="BIGINT" property="productSeriesId" />
    <result column="product_series_name_id" jdbcType="BIGINT" property="productSeriesNameId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
  <sql id="Base_Column_List">
    product_series_id, product_series_name_id, product_id, gmt_create, gmt_update,yn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product_series
    where product_series_id = #{productSeriesId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_product_series
    where product_series_id = #{productSeriesId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kone.utils.entity.ProductSeries">
    insert into tb_product_series (product_series_id, product_series_name_id, 
      product_id, gmt_create, gmt_update,yn
      )
    values (#{productSeriesId,jdbcType=BIGINT}, #{productSeriesNameId,jdbcType=BIGINT}, 
      #{productId,jdbcType=BIGINT}, now(), now(),0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kone.utils.entity.ProductSeries">
    insert into tb_product_series
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productSeriesId != null">
        product_series_id,
      </if>
      <if test="productSeriesNameId != null">
        product_series_name_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productSeriesId != null">
        #{productSeriesId,jdbcType=BIGINT},
      </if>
      <if test="productSeriesNameId != null">
        #{productSeriesNameId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kone.utils.entity.ProductSeries">
    update tb_product_series
    <set>
      <if test="productSeriesNameId != null">
        product_series_name_id = #{productSeriesNameId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_series_id = #{productSeriesId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kone.utils.entity.ProductSeries">
    update tb_product_series
    set product_series_name_id = #{productSeriesNameId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      yn = #{yn}
    where product_series_id = #{productSeriesId,jdbcType=BIGINT}
  </update>


  <resultMap id="BaseResultMap1" type="com.kone.utils.entity.ProductSeries">
    <id column="product_series_id" jdbcType="BIGINT" property="productSeriesId" />
    <result column="product_series_name_id" jdbcType="BIGINT" property="productSeriesNameId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="yn" jdbcType="INTEGER" property="yn" />

    <association property="product" column="product_id" select="com.kone.commonsDao.dao.ProductMapper.selectByPrimaryKey"></association>
  </resultMap>
  <select id="selectBySeriesNameId" parameterType="com.kone.utils.conditions.CommonCondition" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List" />
    from tb_product_series
    where product_series_name_id = #{id,jdbcType=BIGINT}
    AND yn =0
  </select>


  <select id="countByPager" parameterType="com.kone.utils.conditions.CommonCondition" resultType="java.lang.Long">
    SELECT COUNT(*) FROM tb_product_series
    where product_series_name_id = #{id,jdbcType=BIGINT}
    AND yn =0
  </select>

  <select id="selectByProductAndSeriesId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_product_series
    where product_series_name_id = #{seriesNameId,jdbcType=BIGINT}
    AND product_id = #{productId, jdbcType=BIGINT}
    AND yn =0
  </select>


</mapper>