<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>

    <div class="panel panel-success">

        <div class="panel-heading">
            <h3 class="panel-title">产品管理</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <br>
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">添加产品</button>
                <br>
            </div>
        </div>

        <table class="table table-striped table-hover">

            <tr>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>产品模型</th>
                <th>产品模具</th>
                <th>产品数量</th>
                <th>创建日期</th>
                <th>材料关系</th>
                <th>产品入库</th>
                <th>产品出库</th>
                <th>入库详情</th>
                <th>删除</th>
            </tr>
            <tr th:each="data:${data.data}">
                <td th:text="${data.productId}"></td>
                <td th:text="${data.productName}"></td>
                <td th:text="${data.productModel}"></td>
                <td th:text="${data.productMouldModel}"></td>
                <td th:text="${data.productNum}"></td>
                <td th:text="${#dates.format(data.gmtCreate, 'yyyy-MM-dd')}"></td>
                <td>
                    <button class="btn btn-sm btn-warning" th:onclick= "'javascript:go('+${data.productId}+')'">
                        设置材料
                    </button>
                </td>
                <td>
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal1" th:onclick= "'javascript:addProduct('+${data.productId}+')'">
                        入库
                    </button>
                </td>

                <td>
                    <button class="btn btn-sm btn-info" style="background-color: darkgreen;border: darkgreen" data-toggle="modal" data-target="#myModal2" th:onclick= "'javascript:productOutbound('+${data.productId}+')'">
                        出库
                    </button>
                </td>

                <td>
                    <button class="btn btn-sm btn-success" th:onclick= "'javascript:go2('+${data.productId}+')'">
                        查看入库详情
                    </button>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" th:onclick= "'javascript:deleteItem('+${data.productId}+')'">
                        删除
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#" th:onclick= "'javascript:pager('+${data.pager.num}+',0)'">&larr; 上一页</a></li>
        总共<span th:text="${data.pager.total}"></span>条，共<span th:text="${data.pager.page}"></span>页,当前第<span th:text="${data.pager.num + 1}"></span>页
        <li class="next"><a href="#" th:onclick= "'javascript:pager('+${data.pager.num}+',1)'">下一页 &rarr;</a></li>
    </ul>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">保存信息</h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <input type="text" class="form-control" name="productName" placeholder="产品名称"><br>
                        <input type="text" class="form-control" name="productModel" placeholder="产品模型"><br>
                        <input type="text" class="form-control" name="productMouldModel" placeholder="产品模具"><br>
                        <input type="hidden" value="0" class="form-control" name="productNum" placeholder="材料初始数量"><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">产品入库</h4>
                </div>
                <div class="modal-body">
                    <form id="form1">
                        <input type="hidden" class="form-control" name="productId" id="productId"><br>

                        <input type="number" class="form-control" name="productNum" placeholder="入库数量"><br>

                        <input type="date" class="form-control" name="date" placeholder="入库时间"><br>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save1">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- product warehousing -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">产品出库</h4>
                </div>
                <div class="modal-body">
                    <form id="form2">
                        <input type="hidden" class="form-control" name="productId" id="productId2"><br>

                        <input type="number" class="form-control" name="num" placeholder="出库数量"><br>

                        <input type="date" class="form-control" name="date" placeholder="出库时间"><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="save2">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- /product warehousing -->

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $("#save").click(function() {
            var form = new FormData(document.getElementById("form"));
            $.ajax({
                type:"post",
                url:"/product/saveProduct",
                data:form,
                dataType:"json",
                processData:false,
                contentType:false,
                success:function(data){
                    console.log(data);
                    if(data.code == 200){
                        swal("提交成功!", "", "success");
                        window.setTimeout("location.reload()",700);
                    }else{
                        swal("提交失败！", data.msg, "error");
                    }
                },
                error:function(msg){
                    swal("提交失败！", "请重试！", "error");
                    window.setTimeout("location.reload()",700);
                }
            })
        })

        function go(id) {
            window.location.href = '/product/viewProductMaterialNumByProductId?productId=' + id;
        }

        function go2(id) {
            window.location.href = '/product/viewProductIn?pager.size=10&pager.num=0&id=' + id;
        }

        function addProduct(productId) {
            $("#productId").val(productId);
        }

        function productOutbound(productId) {
            $("#productId2").val(productId);
        }

        $("#save1").click(function() {
            var form = new FormData(document.getElementById("form2"));
            $.ajax({
                type:"post",
                url:"/product/productOutbound",
                data:form,
                dataType:"json",
                processData:false,
                contentType:false,
                success:function(data){
                    if(data.code == 200){
                        swal("提交成功!", "", "success");
                        window.setTimeout("location.reload()",700);
                    }else{
                        swal("提交失败！", data.msg, "error");
                    }
                },
                error:function(msg){
                    swal("提交失败！", "请重试！", "error");
                }
            })
        })

        $("#save2").click(function() {
            var form = new FormData(document.getElementById("form"));
            $.ajax({
                type:"post",
                url:"/product/saveProduct",
                data:form,
                dataType:"json",
                processData:false,
                contentType:false,
                success:function(data){
                    console.log(data);
                    if(data.code == 200){
                        swal("提交成功!", "", "success");
                        window.setTimeout("location.reload()",700);
                    }else{
                        swal("提交失败！", data.msg, "error");
                    }
                },
                error:function(msg){
                    swal("提交失败！", "请重试！", "error");
                    window.setTimeout("location.reload()",700);
                }
            })
        })

        function pager(num, type) {
            if(0 == type) {
                num = num - 1;
            } else {
                num = num + 1;
            }
            window.location.href='/product/viewProduct?size=10&num=' + num;
        }

        function deleteItem(id) {
            swal({
                title: "确认删除?",
                text: "删除!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type:"post",
                        url:"/product/deleteProduct",
                        data:{productId:id},
                        dataType:"json",
                        success:function(data){
                            if(data.code == 200){
                                swal("提交成功!", "", "success");
                                window.setTimeout("location.reload()",700);
                            }else{
                                swal("提交失败！", data.msg, "error");
                            }
                        },
                        error:function(msg){
                            swal("提交失败！", "请重试！", "error");
                            window.setTimeout("location.reload()",700);
                        }
                    })
                } else {
                    swal("Your imaginary file is safe!");
                }
             });

        }
    </script>
   
</body>
</html>
