<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>

    <div class="panel panel-success">

        <div class="panel-heading">
            <h3 class="panel-title">查看原材料使用详情</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <!--<br>-->
                <!--<button class="btn btn-success" data-toggle="modal" data-target="#myModal">添加原材料</button>-->
                <!--<br>-->
            </div>
        </div>

        <table class="table table-striped table-hover">

            <tr>
                <th>使用编号</th>
                <th>使用产品名称</th>
                <th>产品入库数量</th>
                <th>材料使用量</th>
                <th>创建日期</th>
            </tr>
            <tr th:each="data:${data.data}">
                <td th:text="${data.materialDetailsId}"></td>
                <td th:text="${data.product.productName}"></td>
                <td th:text="${data.productMaterial.productNum}"></td>
                <td th:text="${data.materialUseNum}"></td>
                <td th:text="${#dates.format(data.gmtCreate, 'yyyy-MM-dd')}"></td>
            </tr>
        </table>
    </div>

    <ul class="pager">
        <li class="previous"><a href="#" th:onclick= "'javascript:pager('+${data.pager.num}+',0,'+${materialId}+')'">&larr; 上一页</a></li>
        总共<span th:text="${data.pager.total}"></span>条，共<span th:text="${data.pager.page}"></span>页,当前第<span th:text="${data.pager.num + 1}"></span>页
        <li class="next"><a href="#" th:onclick= "'javascript:pager('+${data.pager.num}+',1,'+${materialId}+')'">下一页 &rarr;</a></li>
    </ul>

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        function pager(num, type, materialId) {
            if(0 == type) {
                num = num - 1;
            } else {
                num = num + 1;
            }
            window.location.href='/material/viewMaterialDetails?size=10&num=' + num +'&materialId='+materialId;
        }
    </script>
   
</body>
</html>
